@font-face {
    src: url(../Fonts/Habibi-Regular.ttf);
    font-family: Habibi;
}
.Habibi {
    font-family: Habibi;
}
.body {
    background-color: #85CC6D;
}
.navbar{
    background-color: #793D19;
    position:fixed;
    top:0;
    width:100%
}
.navbar a{
    color:white;
}
.navBarWords {
    margin-left: 50px;
    margin-right: 85px;
    font-size: 50px;
}
.HomeHeroImg1 {
    background-image: url(../Assets/HomeHeroImage.jpg);
    height: 651px;
    background-size:100%;
    background-repeat: no-repeat;
}
.inSeasonGreenBackground {
    margin-top:7rem;
    background-color: #85CC6D;
    height: 173px;
    width:548px;
    background-image: url(../Assets/My\ project\ 1.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.topText {
    margin-top: 8.5rem;
}
.greenBackGround {
    background-color: #517F35;
    height:152px;
}
.OpenDays {
    padding-left:2rem;
    font-size: 40px;
    color:white;
}
.topLocation {
    font-size: 40px;
    color:white;
    margin-left: 260px;
}
.infoTxt {
    padding-left:2rem;
    padding-right:2rem;
    font-family: Habibi;
    font-size: 34px;
}
.underHeroImg {
    background-image: url(../Assets/HomeUnderHero.jpg);
    height:486px;
    background-size: 100%;
}
.carousel { 
    width:600px; 
    height:600px; 
}
.carouselImageSize {
    height: 600px;
    width: 200px;
}
.homeInfoTwo {
    background-image: url(../Assets/HomePot.jpg);
    height:486px;
    background-size: 100%;
}
.eventBackground {
    background-color: #477B2E;
    height: 107px;
}
.events {
    color: white;
    font-size: 69px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: Habibi;
}
.brownEventBackground {
    background-color: #793D19;
    height: 483px;
}
.eventInfo {
    color:white;
    font-size: 40px;
    font-family: Habibi;
}
.specificPad {
    padding-bottom:35px;
}
.eventInfoSmall {
    color:white;
    font-size: 24px;
    font-family: Habibi;
}
.faceText {
    padding-top:2rem;
font-family: Habibi;
text-decoration: underline;
}
.facebookBorder {
    margin-top: 11px;
    border: 25px solid;
    border-color:#120084;
    width:550px;
    border-radius:30px;
    margin-bottom: 67px;
}
.ContactUsBackGround {
    background-color: #793D19;
}
.contact {
    color:white;
    font-size: 40px;
    font-family: Habibi;
}
.contactWhiteBackground {
    background-color: white;
    width: 639px;
    height:504px;
}
input[type=text], select, textarea {
    margin-left: 160px;
    width: 50%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing:border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  
.contactBorder {
    border: 3px solid;
}
.contactWordsPadding {
    padding-bottom:31px;
}
.btn {
    width: 127px;
    height:37px;
    font-size:24px;
    border-radius: 0;
}
footer {
    margin-top:84px;
    background-color:#517F35;
    height: 515px;
}
.footNumber {
    margin-top:6rem;
    display: flex;
    justify-content: end;
    font-size: 40px;
    font-family: Habibi;
    color:white;
}
.footAdd {
    margin-top:2rem;
    font-size: 40px;
    font-family: Habibi;
    color:white;
    padding-right:7rem;
}
.insta {
    width:64px;
    height:64px;
}
.facebookLogo {
    width:95px;
    height:60px;
}
.yelp {
    width:120px;
    height:60px;
}
.follow {
    color:white;
    font-family: Habibi;
}
.footerCopy {
    color:white
}

.tabWordNav {
    font-size: 25px;
}